## Manipulating the data from classes

In [31]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("CS_tracking_sheet.csv")

In [15]:
df

,Name,Course number,A,B,C,D,Prerequisite
0,Introduction To Programming Design,1101,1,0,1,0,NaN
1,Accelerated Introducton To Program Design,1102,1,0,0,0,NaN
2,Introduction To Machine Organization And Assem...,2011,0,1,0,1,2303 2401

In [16]:
df["Name"]

0                   Introduction To Programming Design
1           Accelerated Introducton To Program Design
2    Introduction To Machine Organization And Assem...
Name: Name, dtype: object

* Go through the 1000 level classes and add all of them to the schedule where it can go
* Then add those classes to the "already taken" list
* Limit 2 CS classes per term
*

In [17]:
df.keys()

Index(['Name', 'Course number', 'A', 'B', 'C', 'D', 'Prerequisite'], dtype='object')

In [30]:
thousands = df[df["Course number"] / 1000 < 2]

already_used = []

for index, row in thousands.iterrows():
    prerequisites_str = row["Prerequisite"]

    if prerequisites_str != np.nan:
        prerequisites_list = prerequisites_str.split(" ")

nan
nan